name: PR target branch

on:
  pull_request:
    types: [opened, reopened, synchronize, edited]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - name: Echo target branch
        run: |
          echo Target branch is ${{ github.event.pull_request.base.ref }}
